<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2019 Baidu, Inc. All Rights Reserved.
  -->
<config>
	<adapter>
		<className>org.suw.learn.pattern.design.adapter.sample.OpticalMotorAdapter</className>
	</adapter>
	<bridge>
		<color>Yellow</color>
		<brand>LV</brand>
		<usage>Wallet</usage>
	</bridge>
</config>