<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
    </head>
    <body>
    <!--<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="100229030" charset="utf-8"></script>-->
    <!--<script type="text/javascript">-->
        <!--QC.Login({-->
            <!--btnId:"qqLoginBtn"	//插入按钮的节点id-->
        <!--});-->
    <!--</script>-->


    <div th:if="${param.error}">
            Invalid username and password.
            <h1 th:inline="text"> [[${#httpServletRequest.remoteUser}]] </h1>
    </div>

    <div th:if="${param.logout}">
            You have been logged out.
    </div>

    <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username" /> </label></div>
            <div><label> Password: <input type="password" name="password" /> </label></div>
            <div><input type="submit" value="Sign In"/></div>
            <!--<div><span id="qqLoginBtn"></span></div>-->
    </form>
    </body>
</html>